@model DataLayer.Entities.Users.User

    <div style="direction:rtl; padding:20px">
        <h2>@Model.UserName عزیز</h2>
        <p>جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید</p>
        <p>
            <a href="https://localhost:5001/Account/ResetForgotPassword?token=@Model.ActiveCode">بازیابی کلمه عبور</a>
        </p>
    </div>  