@model DataLayer.DTOs.User.ResetForgotPasswordViewModel
@{
    ViewData["Title"] = "ResetForgotPassword";
}


<header><h4>بازیابی رمز عبور</h4></header>

<hr />  
<div class="row">
    <div class="col-md-8">
        <form asp-action="ResetForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" name="token" value="@ViewData["token"]" />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RePassword"></label>
                <input asp-for="RePassword" class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
