@model DataLayer.Entities.Page.PageGroup

<h2>ویرایش گروه</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="GroupTitle" class="control-label"></label>
                <input asp-for="GroupTitle" class="form-control" />
                <span asp-validation-for="GroupTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">بازگشت به لیست</a>
</div>